# Credentials and Environment Configurations
.env
.env.local
.env.*.local

# Python Build and Cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
.toast
.spi
.pytest_cache/

# Project Specific Data Storage (Local state)
uploads/
vectorstores/
*.db

# OS specific files
.DS_Store
Thumbs.db